@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root {
        --cor01: #5100F5;
        --cor02: #5A22CA;
        --cor03: #5935A0;
        --cor04: #4E3B75;
        --cor05: #2D2B33;
        --corbg: #10004150;

        --font-pd: "Ubuntu", sans-serif;
}

body {
    background-image: linear-gradient(to bottom, var(--cor01), var(--corbg));
    background-attachment: fixed;
}
header {
    background-image: linear-gradient(to bottom, var(--cor05), var(--cor03));
    background-attachment: fixed;
    height: 750px;
    width: 150px;
}
header a{
    display: block;
    font-family: var(--font-pd);
    font-weight: 500;
    font-weight: bold;
    font-style: none;
    color: white;
    text-decoration: none;
}
header .logo {
    background-color: var(--cor05);
    padding: 10px;
    text-align: center;


}
header ul li a {
    display: block;
    background-color: var(--cor01);
    text-align: center;
    width: 80px;
    padding: 6px 8px;
    margin: 10px auto;
    border-radius: 16px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}
main .title {
    display: flex;
    max-width: 700px;
    height: 10px;
    align-items: center;
    margin: auto;


}
