@charset "UTF-8";

/*
Typical Device Breackpoints
-----------------------------
Telas Pequenas : Até 600px

Smartphones : 576px a 767px

Tablets : 768px a 1199px 

Desktops & Laptops : 1200px a 1919px

Grandes Telas : 1920px e acima
 */

 @media screen and (min-width: 768px) {

    span#burguer {
        display: none;
     }

    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 764px;
    }
}